#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.recipeImage {
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  height: 10em;
}

.recipeCard {
  border: 1px solid gray;
  border-radius: 20px;
}

.dataTable {
  width: 100%;
  border: 1px solid gray
}

.searchBar {
  text-align: center;
  border-radius: 10px;
  border-color: gray;
  height: 2em;
  max-width: 100%;
}

table {
  padding: 20px;
  border-radius: 20px;
}