#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.recipeImage {
  border-radius: 20px;
}

.recipeCard {
  border: 1px solid gray;
  border-radius: 20px;
}

.dataTable {
  width: 100%;
  border: 1px solid gray
}